@font-face {
  font-family: "Raleway";
  src: url("./Font/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "RockSalt";
  src: url("./Font/RockSalt-Regular.ttf");
}

/* Custom Variables */
$background: rgb(5, 2, 23);
$font-color-nav: #005a9c;
$font-color-nav-hover: #3394d8;
$Brand-color: #005a9c;

/* NavBar Bootstrap Modification */
$navbar-light-color: rgba($font-color-nav, 0.9);
$navbar-light-hover-color: rgba($font-color-nav-hover, 0.7);
$navbar-light-active-color: rgba($font-color-nav, 0.9);
$navbar-light-disabled-color: rgba($font-color-nav, 0.3);
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba($font-color-nav, 0.2);
$navbar-light-brand-color: $font-color-nav;
$navbar-light-brand-hover-color: $font-color-nav-hover;
/* This import remains on the bottom of the modified styles  */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  font-family: "Raleway";
}
nav {
  font-size: 1.5em;
  font-weight: 700;
  background-color: transparent;
  border: solid 1.5px white;
  .navbar-brand {
    a {
      color: $Brand-color;
      background-color: transparent;
      font-family: "RockSalt";
      font-size: 2em;
      text-decoration: none;
    }
  }
  .navbar-nav button {
    margin-left: 2em;
    background-color: transparent;
    color: $Brand-color;
    font-size: 1em;
    font-weight: 700;
    border: none;
  }
  .navbar-nav button:hover {
    padding-top: 10px;

    color: $font-color-nav-hover;
    font-weight: 700;
    align-content: center;
    border: none;
    transition: none !important;
  }
  .navbar-nav a {
    text-decoration: none;
    padding-left: 1em;
    padding-top: 7px;
    align-content: center;
  }
}
body {
  background-color: $background;
}
.modal-content {
  border-radius: 20px;
}
.modal-header {
  color: white;
  background-color: $Brand-color;
  button {
    visibility: hidden;
  }
}
.modal-body {
  color: white;
  background-color: $font-color-nav-hover;
  text-align: end;
  font-size: 1.25em;
  font-weight: 600;
  button {
    background-color: $Brand-color;
    color: White;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
    border: 1px solid rgba(#444, 0.5);
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
  }
}
.form-group {
  margin-bottom: 1%;
  margin-right: 15%;
  button:hover {
    background-color: rgba($Brand-color, 0.5);
  }
}
.modal-footer {
  background-color: $Brand-color;
  color: white;
  button {
    background-color: $font-color-nav-hover;
    color: White;
    font-weight: 500;
    border: 1px solid rgba(#444, 0.5);
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
  }
  button:hover {
    background-color: rgba($font-color-nav-hover, 0.5);
  }
}
.spark {
  background: url("sprague.svg");
  background-repeat: no-repeat;
  background-position-y: -250px;
  background-position-x: -250px;
  height: 1000px;
}
.sparkLogo {
  height: 100px;
}
.hero-text {
  position: relative;
  top: 15%;
  font-size: 4em;
  font-weight: 900;
  color: $Brand-color;
  padding: 1em;
  background-color: rgba(179, 201, 244, 0.688);
  font-family: "RockSalt";
  // width: fit-content;
  border-radius: 15px;
}
.Welcome {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  border: 2px solid $Brand-color;
  font-size: 1.25em;
  font-weight: 600;
  h1 {
    font-size: 3em;
    font-weight: 600;
  }
}
.filler {
  height: 1em;
}
.Greeting {
  background-color: white;
  color: $Brand-color;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
  width: fit-content;
}
.greeting-message {
  background-color: white;
  color: $Brand-color;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
}
